.nav-item{
    margin-left: 30px;
    color: white;
}

header{
    padding: 50px;
    background-color: #F1F3FF;
    height: auto;
}

#navbar-top{
    background-color: #F1F3FF;
}

.nav-item:hover{
    background-color: #FFC300;
    transition: 1s;
    border-radius: 10px;
}

.nav-link{
    text-align: center;
    color: black;
}

.nav-item a:hover{
    color: white;
}

#sign{
    color: white;
}

#sign-ex{
    background-color: #1E557B;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#sign-ex:hover{
    opacity: 0.5;
}

.card-text{
    font-family: Helvetica;
}


#card-blue{
    background-color: #0D28A6;
    color: white;
    width: 89%;
}

#button-green:hover{
    opacity: 0.5;
    transition: 1s;
}

#dropdownMenuReference:hover{
    background-color: rgb(249, 239, 239);
    color: black;
}



#reference-drop{
    width: 520px;
    text-align: start;
}

#container-faq{
    margin-right: 10px;
}


.dropdown-menu{
    background-color: aliceblue;
}

.list-group-item{
    padding: 10px;
}

#sosmed-btn{
    background-color: #0D28A6;
    display: inline;
    margin-right: 10px;
}

#sosmed-btn:hover{
    opacity: 0.5;
}

#header-right{
    padding-top: 150px;
}

#mobil-img-bg{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 200px;
    height: auto;
    padding-bottom: 80px;
    border-radius: 80px 0px 0px 0px;
    position: relative;
    background-color: #0D28A6;
}

.mobil-jpg{
    position: absolute;
    right: 20px;
    top: 100px; 
}

.sewa-button{
    background-color: #5CB85F;
}

.sewa-button:hover{
    background-color: #72b775;
}

#circle-green{
    margin-bottom: 250px;
    margin-left: 50px;
    position: relative;
    background-color: #92D094;
}

#circle-yellow{
    margin-top: -40px;
    margin-left: 140px;
    position: relative;
    background-color: #F9CC00;
}

#circle-red{
    margin-top: -760px;
    margin-left: 250px;
    position: relative;
    background-color: #FA2C5A;
}

@media only screen and (max-width: 1086px) {
    #header-left{
        margin-right: 100px;
    }
}

@media only screen and (max-width: 600px) {
    #mobil-img-bg{
        padding-top: 90px;
    }
}

@media only screen and (max-width: 991px) {
    .mobil-jpg{
        position: absolute;
        left: 10px;
        top: 400px; 
        width: 100vw;
    }
}



@media only screen and (min-width: 1530px) {
    .mobil-jpg{
        position: absolute;
        right: 100px;
        top: 100px; 
    }
}

@media only screen and (max-width: 400px) {
    .navbar-brand{
        margin-right: -100px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav{
        margin-right: 290px;
        text-align: center;
    }
    .navbar-nav li{
        padding-bottom: 20px;
    }
    .card{
        margin-top: 20px;
    }

    #connect-text{
        margin-top: 25px;
    }

    #copyright-text{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    #service-img{
        text-align: center;
    }
    #service-text{
        margin-top: 50px;
    }

    #circle-yellow{
        margin-top: 200px;
        margin-left: -440px;
        position: relative;
        background-color: #F9CC00;
    }

    #circle-red{
        margin-top: -380px;
        margin-left: 270px;
        position: relative;
        background-color: #FA2C5A;
    }
}

@media only screen and (max-width: 768px) {
    #circle-green{
        margin-bottom: 300px;
        margin-left: 20px;
        position: relative;
        background-color: #92D094;
    }
}



@media only screen and (max-width: 404px) {
    .jumbotron{
        height: 1000px;
    }
}

@media only screen and (max-width: 576px) {
    #whyus-card{
        margin-left: auto;
    }

    #whyus-text{
        text-align: center;
    }
}

